
@media(max-width:1400px){
    .icon-search-1{
        padding-right: 0px;
        margin-right: 0px;
        margin-left: -51px;
        margin-top: 0px;
    }
    footer .container .navbar-brand {
        display: flex;
        margin-top: 63px;
        margin-left: 60px;
    }
    .nav-link {
        color: #FFFFFF;
        font-size: 14px;
        font-family: 'BPG DejaVu Sans Caps';
        padding-left: 0px;
    }
}
@media(max-width:1200px){
    .social h1 {
        color: #FFFFFF;
        font-size: 13px;
        padding: 0px 0px 0px 0px;
    }
    footer .container .navbar-brand {
        display: flex;
        margin-top: 63px;
        margin-left: 0px;
    }
    .container-xl .col-2 h3 {
        color: #000000;
        font-size: 10px;
        text-align: center;
        padding-top: 10px;
        background-color: #FFC627;
        height: 38px;
        margin-top: 13px;
        box-sizing: border-box;
        border-style: hidden;
        border-bottom-right-radius: 5px;
        position: absolute;
        padding-left: 20px;
        padding-right: 20px;
        font-family: 'BPG DejaVu Sans Caps';
    }
    .nav-link {
        color: #FFFFFF;
        font-size: 10px;
        font-family: 'BPG DejaVu Sans Caps';
    }
}
@media(max-width:993px){
    .col-6 .form {
        width: 155px;
        height: 34px;
        margin-left: 30px;
    }
    .row .col-6 button {
        position: absolute;
        background-color: #0070CD;
        border-style: hidden;
        margin-left: 147px;
        margin-top: 8px;
        color: #FFFFFF;
    }
    .social h1 {
        color: #FFFFFF;
        font-size: 11px;
        padding: 0px 1px 2px 26px;
    }
    .col-md-4 {
        flex: 0 0 auto;
        width: 45.333333%;
    }
    footer .container .footer-social {
        text-align: end;
        margin-top: 88px;
    }
    footer .container .navbar-brand {
        display: flex;
        margin-top: 63px;
        margin-left: 0px;
        margin-right: 0px;
    }
    footer .container .navbar-brand .main-text {
        padding: 2.1px 0px 0px 13.1px;
    }
    footer .container .row .first{
        display: none;
    }
    footer .footer-blue .contact h3 {
        padding: 18px 0;
        font-size: 18px;
        color: white;
        font-family: 'BPGDejaVuSansCaps-Book';
        font-weight: 800;
        display: none;
    }
    footer .footer-blue .contact a{
        display: none;
    }
    footer .logo #logo-link{
            display: none;
    }
    .main-slider .slick-slide a img {
        width: 100%;
        height: 50%;
        object-fit: cover;
        transition-duration: 0.3s;
    }
    .slickarrow-next {
        width: 0px;
        height: 54px;
        display: inline-block;
        text-align: center;
        font-size: 18px;
        padding: 19px 11px 0 11px;
        background-color: #FAFAFA;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        color: #9D9D9D;
        position: absolute;
        transition-duration: 0.3s;
        right: 0;
        top: 200%;
    }
    
.about-section .container .row .col-6 .img-div{
    display: none;
}
.about-section .container .row .col-6 #img-div{
    display: flex;
}
.about-section .container .row .col-6 p {
    color: #6E6E6E;
    height: 150.75px;
    overflow: hidden;
    font-size: 24px;
    margin-top: 27.8px;
    padding: 0px 0px 0px 0px;
    font-family: 'Arial';
}
header .container-xl .navbar{
    right: 0px;
}
main-slider .slick-slide a span {
    top: 116px;
}
}

@media(max-width:868px){
    .logo{
        display: none;
    }
    .navbar{
        display: none;
    }
    header .container .col-6 .form {
        width: 155px;
        height: 34px;
        margin-left: 30px;
        margin-top: 30px;
    }
    header .container .col-6 .social{
        margin-top: 30px;
    }
    header .burgermenu{
        display: block;
        
    }
    .burgermenu #menuToggle {
        display: block;
        position: relative;
        top: 10px;
        left: 50px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }
    #menuToggle span{
        background: white;
    }
    header .social h1{
        display: none;
    }
    .slick-dots{
        display: none;
    }
    
}