/* body */
body {
    padding: 0;
    margin: 0;
}
img{
    width: 100%;
}

header {
    height: 107px;
    background-color: #0070CD;
    width: 100%;
}
.content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 1200px;
  }
  
  .sticky + .content {
    padding-top: 102px;
  }
header .container .navbar-brand {
    display: flex;
}
header .container .navbar-brand .logo img:hover{
    padding-left: 10px;
}
header .container .navbar-brand h1 {
    color: #ffff;
    font-size: 24px;
}

header .container .navbar-brand h2 {
    color: #FFFFFF;
    font-size: 13px;
}

header .container .navbar-brand .main-text {
    padding: 19.1px 0px 0px 13.1px;
}

.social h1 {
    color: #FFFFFF;
    font-size: 16px;
    padding: 0px 29px 0px 51px;
}
header .col-6 .social .icons .socials{
    display: block;
    margin: 0 3.85px;
    height: 28px;
    width: 28px;
    padding: 2.1px 2.2px;
    background-color: white;
    border-radius: 8px;
    font-size: 21px;
    color: #0070CD;
    border: 1px solid #0070CD;
    transition-duration: 0.3s;
    text-decoration: none;
    text-align: center;
}
header .col-6 .social .icons .socials:hover{
    background-color: #0070CD;
    border: 1px solid white;
}
header .col-6 .social .icons{
    display: flex;
}
.col-6 .form {
    max-width: 965px;
    width: 100%;
}
.col-6 .form form{
    max-width: 195px;
    height: 34px;
    float: right;
}
header .container .row .col-6 {
    display: flex;
    align-items: center;
}

header .container .row .col-6 .social {
    display: flex;

}

header .container .row .col-6 .form-control {
    background-color: #0070CD;
    position: relative;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-clip: padding-box;
    border: 2px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 1rem;
    padding-right: 0px;
    padding-left: 11px;
}
header .container .row .col-6 .form-control:hover{
    border-color: greenyellow;
}

header .container .row .col-6 .form-control::placeholder {
    color: #FFFFFF;
}

header .container .row .col-6 button {
    position: absolute;
    background-color: #0070CD;
    border-style: hidden;
    color: #FFFFFF;
    margin-left: 151px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 8px;
    bottom: 606px;

}

.social svg {
    padding-right: 7.9px;
    width: 28.9px;
    height: 28.9px;
    color: #FFFFFF;
}

header .navbar a::after{
    content: "";
    background-color: white;
    width: 0;
    display: block;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition-duration: 0.4s;
}
header .navbar .nav .nav-link::after{
    content: none;
}
header .navbar .nav .nav-link:hover::after{
    width: 100%;
    transition-duration: 0.4s;
}
header .navbar .nav .nav-link::before{
    background-color: black;
}
header a:hover {
    color: white;
    text-decoration: none;
}
header .container-xl .navbar {
    height: 51px;
    background-color: #EB5E1C;
    z-index: 2;
    border-bottom-right-radius: 30%;
   
}
.exeption {
    position: absolute;
    padding: 18px 28px;
    right: 0;
    top: 0;
    border-bottom-right-radius: 8px;
    background-color: #FFC627;
    color: black;
    border: none;
    height: 50px;
    font-family: 'BPGDejaVuSansCaps-Book';
}
.nav-link {
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'BPG DejaVu Sans Caps';

}
.nav-link .icon-home{
    color: #FFFFFF;
}

header .container-xl .navbar .nav {
    text-align: center;
    margin-left: 43px;
}
.darknavbar{
    width: 100%;
}

.container-xl .col-2 h3 {
    color: #000000;
    font-size: 14px;
    text-align: center;
    padding-top: 10px; 
    background-color: #FFC627;
    height: 51px;
    margin-top: 13px;
    box-sizing: border-box;
    border-style: hidden;
    border-bottom-right-radius: 5px;
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'BPG DejaVu Sans Caps';
}
.container-xl .col-2 {
    z-index: 1;
}
.container-xl .col-10 {
    padding-right: 0px;
}

.container-xl .row {
    padding-left: 50px;
    padding-right: 25px;
}
header .container-xl .navbar a{
    text-decoration: none;
}
.col-2 a{
    text-decoration: none;
}
.col-2{
    padding-left: 0px;
}
.img-section img{
    
    width: 100%;
  height: 797px;
  object-fit: cover;
}
.about-section .container .row .col-6{
    margin-top: 81px;
}
.about-section .container .row .col-6 h1{
    font-size: 24px;
    color: #6E6E6E;
    max-width: 429.75px;
    width: 100%;
    font-family: 'BPG DejaVu Sans Caps';
}
.about-section .container .row .col-6 p{
    color: #6E6E6E;
    height: 150.75px;
    overflow: hidden;
    font-size: 20px;
    margin-top: 27.8px;
    padding: 0px 137px 0px 0px;
    font-family: 'Arial';
}
.about-section .container .row .col-6 h2{
    color: #6E6E6E;
    font-size: 16px;
    margin-top: 47.4px;
}
.about-section .container .row .col-6 .public h2:hover{
    font-size: 18px;
}
.about-section .container .row .col-6 .public span{
    align-items: center;
    text-align: center;
    margin-top: 52px;
    margin-left: 13px;

}



.about-section .container .row .col-6 .img-div{
    display: flex;
}
.about-section .container .row .col-6 .img-div img{
    padding-right: 47.6px;
    padding-bottom: 27.9px;
}
.about-section .container .row .col-6 .img-div a{
    text-decoration: none;
}
.about-section .container .row .col-6 .img-div .circle-img{
    text-align: center;
}
.about-section .container .row .col-6 .img-div .circle-img:hover{
    padding-top: 20px;
}
.arrow-line{
    width: 21.9px;
    height: 2px;
    background-color: #0070CD;
    margin-top: 58.9px;
    margin-left: 13.9px;
}
.icon-blue-arrow{
    margin-top: 52px;
    color: #0070CD;
    margin-left: 10px;
}
/* programs section */
.programs{
    background-image: url(../img/cover.png);
    margin-top: 85px;
    padding-bottom: 108px;
}
.programs .container .row h1{
    text-align: center;
    color:#EB5E1C ;
    font-size: 30px;
    font-family: 'BPG DejaVu Sans Caps';
    margin-top: 46px;
    margin-bottom: 47px;
}
.team-section .container {
    margin-top: 0px;
}
.team-section .container-xxl .pages{
    padding: 0;

    float: right;
    max-width: 163px;
    height: 27px;
    width: 100%;
    display: grid;
    grid-auto-columns: 163px;
}
.programs .container .row .double-img img{
    padding-right: 138px;
    padding-bottom: 79px;
}
.programs .left-arrow{
    width: 100%;
    max-width: 28.9px;
    height: 28.9px;
    background-color: #EB5E1C;
    align-items: center;
    text-align: center;
    
}
.programs .left-arrow SPAN{
    color: #FFFFFF;
}
.programs .container .row .double-img .yallow-div{
    width: 100%;
    max-width: 165px;
    height: 34px;
    background-color:#EB5E1C ;
    top: 100px;
    position: relative;
    left: 130px;
}
.programs .container .row .double-img{
    display: flex;
}
.main-slider{
    position: relative;
}
.main-slider .slick-slide a span {
    position: absolute;
    right: 0px;
    top: 34px;
    max-width: 60%;
    min-width: 45%;
    display: block;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    padding: 10px 20px;
    background-color: #EB5E1C;
    text-align: right;
    border: 1px solid #EB5E1C;
    transition-duration: 0.3s;
    border-right: none;
  }
  .main-slider .slick-slide a span h4 {
    color: white;
    font-family: "BPGDejaVuSansCaps-Book";
    line-height: 1.3;
    font-size: 14px;
  }
  .main-slider .slick-slide a span p {
    color: white;
    line-height: 1.3;
    font-family: "BPGArial";
    font-size: 10px;
  }
  .main-slider .slick-slide a:hover span {
    background-color: white;
  }
  .main-slider .slick-slide a:hover span h4, #homeProgramsSlider .slick-slide a:hover span p {
    color: #EB5E1C;
  }
.main-slider .slick-slide{
    margin: 0 46px;
    height: 470px;
    transition-duration: 0.3s;
}
.main-slider .slick-slide a {
    height: 470px;
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
  }
  .main-slider .slick-slide a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition-duration: 0.3s;
  }
  .main-slider .slick-slide a:hover img {
    width: 110%;
    height: 110%;
    margin-left: -5%;
    margin-top: -5%;
  }
  .main-slider .slick-current {
    margin-left: 0;
    margin-right: 92px;
  }
  .main-slider .slick-active + .slick-active + .slick-active {
    margin-right: 0;
    margin-left: 92px;
  }
  
  .slickarrow-prev{
    width: 96px;
    height: 91px;
    display: inline-block;
    text-align: center;
    font-size: 40px;
    transform: rotate(180deg);
    padding: 25px;
    background-color: #FAFAFA;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    color: #9D9D9D;
    position: absolute;
    transition-duration: 0.3s;
    top: 200%;
    right: 1426px;
  }
  .slickarrow-next{
    width: 96px;
    height: 91px;
    display: inline-block;
    text-align: center;
    font-size: 40px;
    padding: 25px;
    background-color: #FAFAFA;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    color: #9D9D9D;
    position: absolute;
    transition-duration: 0.3s;
    right: 0;
    top: 200%;
  }
  .slickarrow-next:hover{
    background-color: #EB5E1C;
    color: #FBFEFE;
    cursor: pointer;
  }
  .slickarrow-prev:hover{
    background-color: #EB5E1C;
    color: #FBFEFE;
    cursor: pointer;
  }
.news-section .container .row h1{
    color: #6E6E6E;
    font-size: 30px;
    margin-top: 62px;
    font-family: 'BPG Nino Elite Caps';
    font-weight: 800;
}
.news-section .container .row h2:hover{
    padding-right: 10px;
}
.news-section .container .row span{
    margin-top: 50px;
    margin-left: 10px;
    font-size: 18px;
    font-family: 'Arial';
}
.news-section .container .row .col-6 p{
    color: #6E6E6E;
    height: 150.75px;
    overflow: hidden;
    font-size: 20px;
    margin-top: 47.8px;
    font-family: 'Arial';
}
.news-section .container .row .col-6 h2{
    color: #6E6E6E;
    font-size: 16px;
    margin-top: 47.4px;
}
.news-section .container .row .col-6 .icon-blue-arrow{
    margin-top: 52px;
    color: #0070CD;
    
}
.news-section .container .row .col-6 img{
    margin-top: 62px;
    margin-bottom: 68px;
}
footer {
    padding: 0px 0;
  }
  footer .footer-blue{
    background-color: #0070CD;
    padding-bottom: 15px;
  }
  footer .footer-blue{
    padding: 10px 0;
    padding-bottom: 20px;
  }
  footer .footer-blue .contact h3{
    padding: 18px 0;
    font-size: 18px;
    color: white;
    font-family: 'BPGDejaVuSansCaps-Book';
    font-weight: 800;
  }
  footer .footer-blue .contact a{
    padding: 6px 0;
    display: block;
    color: white;
    font-family: 'BPGArial';
    font-size: 15px;
    padding-left: 0;
    text-decoration: none;
  }
  footer .footer-blue .contact a:before{
    padding: 5px;
    display: inline-block;
    background-color: #EB5E1C;
    margin-right: 10px;
    font-size: 12px;
    border-radius: 5px;
    transition-duration: 0.3s;
  }
  footer .footer-blue .contact a:hover:before{
    margin-right: 20px;
  }
  footer .logo #logo-link{    
    width: 100%;
    display: block;
    text-align: center;
    padding: 19px 0;
    padding-top: 38px;
    padding-left: 58px;
    transition-duration: 0.3s;
    margin: 10px 0;
  }
  footer .logo #logo-link:hover{
    padding-top: 30px;
  }
  footer .social-block{
    text-align: right;
  }
  footer .social-blocks{
    text-align: right;
  }
  footer .social-block h3{
    padding: 9.5px 20px;
    font-size: 18px;
    color: white;
    font-family: 'BPGDejaVuSansCaps-Book';
    text-align: right;
    font-weight: 800;
  
  }
  footer .social-blocks h3{
    padding: 9.5px 20px;
    font-size: 18px;
    color: white;
    font-family: 'BPGDejaVuSansCaps-Book';
    text-align: right;
    font-weight: 800;
  
  }
  footer .social-block a{
    padding: 6px;
    display: inline-block;
    color: white;
    font-size: 20px;
    background-color: #EB5E1C;
    border: 1px solid #EB5E1C;
    margin: 5px;
    border-radius: 10px;
    transition-duration: 0.3s;
    max-width: 35.9px;
    height: 35.9px;
    text-align: center;
    text-decoration: none;
  }
  footer .social-blocks a{
    padding: 6px;
    display: inline-block;
    color: white;
    font-size: 20px;
    background-color: #EB5E1C;
    border: 1px solid #EB5E1C;
    margin: 5px;
    border-radius: 10px;
    transition-duration: 0.3s;
    max-width: 35.9px;
    height: 35.9px;
    text-align: center;
    text-decoration: none;
  }
  
  .orange{
    padding: 6px 14px !important;
  }
  footer .footer-blue .contact address{
     padding-left: 0px;
  }
  footer .social-block a:hover{
    background-color: white;
    color: #EB5E1C;
  }
  footer .social-block form{
    display: block;
    position: relative;
    margin: 17px 0;
    height: 27px;
  }
  footer .social-blocks form{
    display: block;
    position: relative;
    margin: 17px 0;
    height: 27px;
  }
  footer .social-block form input{
    position: absolute;
    height: 27px;
    width: 60%;
    left: 0;
    top: 0;
    border-radius: 10px;
    border: none;
    padding: 0 8px;
    padding-right: 107px;
    margin-left: 40%;
    transition-duration: 0.3s;
  }
   footer .social-block form input{
    position: absolute;
    height: 27px;
    width: 60%;
    left: 0;
    top: 0;
    border-radius: 10px;
    border: none;
    padding: 0 8px;
    padding-right: 107px;
    margin-left: 40%;
    transition-duration: 0.3s;
  }
  footer .social-block form input:focus{
    outline: none;
    width: 90%;
    margin-left: 10%;
  
  }
  footer .social-block form button{
    position: absolute;
    height: 27px;
    width: 100px;
    right: 0;
    top: 0;
    font-size: 10px;
    font-family: 'BPGDejaVuSansCaps-Book';
    background-color: #EB5E1C;
    border-radius: 10px;
    border: none;
    color: white;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  footer .footer-black{
    height: 50px;
    background-color: #3E3D3D;
    padding: 16px 0;
  }
  footer .footer-black span{
    font-family: 'BPGArial';
    color: white;
    float: left;
    opacity: 0.6;
    font-size: 14px;
    transition-duration: 0.3s;
    max-width: 50%;
  }
  footer .footer-black span:not(:first-child){
    float: right;
    opacity: 1;
    float: inline-end;
    float: right;
    text-align: end;
    align-items: center;
    
  }
  footer .footer-black a{
    font-family: 'BPGArial';
    color: white;
    opacity: 0.6;
    transition-duration: 0.3s;
    text-decoration: none;
    
  }
  footer .footer-black a:hover{
    opacity: 1;
  }
  footer .footer-blue .footer-icon th{
    padding-right: 14px;
    padding-left: 12px;
  }
/* adress */
.team-section{
    margin-top: 90px;
    text-align: center;
    font-family: 'BPG DejaVu Sans Caps';
    
}
.team-section h1{
    color: #0070CD;
    font-size:36px ;
}
.team-section .container-xxl{
    margin-top: 83.5px;
    margin-bottom: 164px;
}
.team-section .container-xxl .text-img-div{
    width: 100%;
    max-width: 202px;
    height: 41.42px;
    background-color: #FAFAFA;
    position: absolute;
    top: 800px;
    left: 416px;
    padding-top: 8px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.team-section .container-xxl .text-img-div h3{
    font-size: 11px;
    color:#EB5E1C ;
}
.team-section .container-xxl .text-img-div h4{
    font-size: 8px;
    color:#EB5E1C ;
    padding-left: 65px;
}
.team-section .container{
    margin-top: 44px;
}
.team-section .container .row .col-3{
    position: relative;
}
footer .container .row .col-4 .contact-us h1{
    color: #FFFFFF;
    font-size: 18px;
}
.team-section .container .photo-div{
    max-width: 202px;
    height: 41.42px;
    width: 100%;
    position: absolute;
    top: 80%;
    background-color: #FAFAFA;
    left: 35.1%;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.team-section .container .photo-div:hover{
    background-color: black;
}

.team-section .container .row .col-3 .photo-div h1{
    color:#EB5E1C ;
    font-size: 11px;
    padding-top: 13px;
    margin-bottom: 2px;
}
.team-section .container-xxl .row .col-3 .photo-div h2{
    color:#EB5E1C ;
    font-size: 8px;
    padding-left: 61px;
}
.team-section .container-xxl .row .col-3 .photo-div h1{
    color:#EB5E1C ;
    font-size: 11px;
    padding-top: 13px;
    margin-bottom: 2px;
}
.team-section .container .row .col-3 .photo-div h2{
    color:#EB5E1C ;
    font-size: 8px;
    padding-left: 61px;
}
.team-section .container-xxl .col-3 .photo-div{
    max-width: 202px;
    height: 41.42px;
    width: 100%;
    position: absolute;
    top: 80%;
    background-color: #FAFAFA;
    left: 35.1%;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.team-section .container-xxl .col-3 .photo-div:hover{
    background-color: #0c0502;
    transition-duration: 0.4s;
}

.team-section .container-xxl .col-3{
    position: relative;
}
.team-section .container-xxl .pages{
    float: right;
    max-width: 163px;
    height: 27px;
    width: 100%;
    display: grid;
    grid-auto-columns: 163px;
}
.team-section .container-xxl .pages .child{
    display: flex;
    margin-top: 80px;
}
.team-section .container-xxl .pages .numbers{
    display: flex;
}
#list li{
    padding:0px 25px 0px 10px;
}
#list{
    display: flex;
    list-style:none;
}
.icon-fb-white-background:before {
    content: "\e908";
  }
  /* sebi */
  .program-section{
      margin-top: 92px;
      margin-bottom: 160px;
      
  }
  .program-section .container .row h1{
      color: #0070CD;
      font-size:30px;
      font-family: 'BPG DejaVu Sans Caps';
      text-align: center;

  }
  .program-section .container .row .card-body h2{
      font-size: 26px;
      font-family: 'BPG DejaVu Sans Caps';
    margin: 0;
  }
  .program-section .container .row .card-body{
      background-color: #EFEFEF;
  }
  .program-section .container .row .card-body:hover{
      background-color: #FFC627;
      transition-duration: 0.4s;
  }
  .program-section .container .row .card-body p{
      font-size:18px;
      font-family: 'Arial';
      margin-top: 19px;
     
  }
  .program-section .container .row .card-body .more span{
      margin-top: 8px;
      margin-left: 5px;
     
  }
  .program-section .container .row .card-body .more span::before{
      color:#404040 ;
  }
  .program-section .container .row .card-body .more{
      width: 100%;
      max-width: 108px;
      height: 36px;
      background-color: #FFCF4B;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
  }
  .program-section .container .row .card-body .more h3{
      font-size: 14px;
      font-family: 'BPG DejaVu Sans Caps';
      text-align: center;
      padding-top: 10px;
      padding-left: 5px;
      color:#404040 ;
  }
  .program-section .container .row .card-body a{
      text-decoration: none;
  }
  .program-section .container .row .col-4{
      margin-top: 41px;
  }
  .program-section .pages{
    padding-top: 73px;
    float: right;
    max-width: 163px;
    height: 27px;
    width: 100%;
    display: grid;
    grid-auto-columns: 163px;
  }
  .program-section  .child{
      display: flex;
  }
  .program-section .numbers{
      display: flex;
  }
  .program-section  .numbers p{
    padding:0px 25px 0px 10px;
  }
  .connect{
      background-color: #EFEFEF;
      padding-bottom: 89.8px;
  }
  .connect .container .row .col-8 h1{
      color:#6E6E6E ;
      font-size: 30px;
      margin-top: 35px;
      font-family: 'BPG Nino Elite Caps';
      font-weight: 800;
  }
  .connect .container .row .col-8 span{
      color: #EB5E1C;
      font-size: 18px;
      font-family: 'BPG DejaVu Sans Caps';
      margin-top: 14px;
  }
  .connect .container .row .col-8 p{
      font-size: 20px;
      font-family: 'Arial';
      color: #6E6E6E;
      margin-top: 47.4px;
      padding: 0px 215px 0px 0px;
  }
  .connect .container .row .col-8 .more h3{
    color: #6E6E6E;
    font-size: 16px;
    font-family: 'BPG DejaVu Sans Caps';
  }
  .connect .container .row .col-8  a{
      text-decoration: none;
  }
  .connect .container .row .col-8 span::before{
      margin-top: 0;
  }
  .connect .container .row .col-8 .icon-blue-arrow{
      margin-top: 0;
  }
  .connect .container .row .col-4 img{
      margin-top: 24px;
  }
  /* contact */
  .map iframe{
      width: 100%;
      height: 707px;
  }
  .info .container .row .col-6 .grayline{
      width: 100%;
      max-width: 482px;
      height: 4px;
      background-color: #656465;
  }
  .info .container .row .col-6 h1{
      font-size:32px;
      color: #656465;
      margin-top: 56px;
      font-family: 'BPG DejaVu Sans Caps';
      
  }
  .info .container .row .col-6 h3{
    font-size:32px;
    color: #656465;
    margin-top: 56px;
    font-family: 'BPG DejaVu Sans Caps';
    padding: 0px 0px 37px 20px;
}
  .info .container .row .col-6 .icons span{
      font-size: 23px;
      color: #656465;
      margin-top: 10px ;
      padding-bottom: 45px;
  }
  .info .container .row .col-6 .icons a::before{
    padding: 13px;
    display: inline-block;
    background-color: #EB5E1C;
    margin-right: 10px;
    font-size: 20px;
    border-radius: 17px;
    transition-duration: 0.3s;
    color: white;
    max-width: 48.9px;
    height: 48.9px;
    width: 100%;
    text-align: center;
    
  }
  .info .container .row .col-6 .icons a{
      text-decoration: none;
      display: flex;
  }
  .info .container .row .col-6 .icons a p{
    font-size: 23px;
    color: #656465;
    margin-top: 10px ;
    padding-bottom: 45px;
  }
 
  .info .container .row .col-6 .folow h2{
      font-size: 32px;
      color:#656465 ;
      padding: 72px 0px 27.3px 0px;
  }
  .info .container .row .col-6 .icons{
      display: grid;
      padding-bottom: 83px;
  }
  .info .container .row .col-6 .fb-insta p{
    padding-left: 26.4px;
    font-size: 25px;
    font-family: 'BPG DejaVu Sans Caps';
    color: #656465;
  }
  .info .container .row .col-6 .fb-insta span{
      max-width: 42.3px;
      width: 100%;
      height: 42.3px;
      background-color: #0070CD;
      align-items: center;
      text-align: center;
      border-radius: 30%;
      
  }
  .info .container .row .col-6 .fb-insta .icon-instagram{
      margin-left: 10px;
  }
  .info .container .row .col-6 .fb-insta span::before{
      color: #FFFFFF;
  }
  .info .container .row .col-6 .in{
      display: flex;
  }
  .info .container .row .col-6 .in span{
    max-width: 42.3px;
    width: 100%;
    height: 42.3px;
    background-color: #0070CD;
    align-items: center;
    text-align: center;
    border-radius: 30%;
    
}

.info .container .row .col-6 .in span::before{
    color: #FFFFFF;
}
  .info .container .row .col-6 .in p{
    padding-left: 26.4px;
    font-size: 25px;
    font-family: 'BPG DejaVu Sans Caps';
    color: #656465;
  }
  .info .container .row .col-6 .in span{
      padding-top:13px;
  }
  .info .container .row .col-6 .fb-insta .icon-instagram-blue-background{
      padding-left: 52.5px;
  }
  .info .container .row .col-6 .fb-insta span{
      padding-top: 13px;
  }
  .info .container .row .col-6 #fname{
    max-width: 271px;
    width: 100%;
    height: 56px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-right:21px ;
  }
  .info .container .row .col-6 input{
    max-width: 271px;
    width: 100%;
    height: 56px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 20px;
    font-family: 'Arial';
    padding-left: 11px;
    border-style: solid;
  }
.info .container .row .col-6 .coment input{
    max-width: 563px;
    height: 150px;
    padding: 7px 0px 97px 11px;
}
.info .container .row .col-6 .send{
    margin-top: 29px;
}
.info .container .row .col-6 .send button{
    max-width: 143px;
    width: 100%;
    background-color:#FFC627;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-style: hidden;
    text-align: center;
    padding-top: 10px;
}
/* conect */
.village{
    margin-top: 94px;
}
.village .container .row .col-3 h1{
    color: #0070CD;
    font-size: 30px;
    font-family:'BPG DejaVu Sans Caps' ;
    margin-bottom: 0;
}
.village .container .row .col-3 span{
    color:#0070CD ;
    font-size:20px;
}
.village .container .row .col-3 h2{
    color: #EB5E1C;
    font-size: 20px;
}
.village .container .row .col-3 li{
    color: #EB5E1C;
    font-size: 20px;
}
.village .container .row .col-3 {
    width: 40%;
    padding-top: 43px;
}
.village .container .row .col-6 .short-text {
    margin-top: 38px;
}
.village .container .row .col-6 .short-text p{
    font-size: 20px;
    color:#404040 ;
    font-family: 'Arial';
    padding-top: 90px;
    margin-bottom: 0;
}
.large-text {
    font-size: 20px;
    color:#404040 ;
    font-family: 'Arial';
}
/* come */
.come .container .row h1{
    font-size: 32px;
    color: #0070CD;
    text-align: center;
}
.come{
    margin-top: 75px;
}
.come .container .row form{
    text-align: center;
    align-items: center;
    display: grid;
    padding: 84px 1px 0px 353px;
}
.come .container .row form input{
    max-width: 582px;
    width: 100%;
    height: 68px;
    margin-bottom: 36px;
}
.come .container .row form button{
    background-color:#FFC627 ;
    max-width: 143px;
    width: 100%;
    height: 55px;
    font-size:20px ;
    padding-left: 6px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-style:hidden;
    text-align: center;
    font-family: 'BPG DejaVu Sans Caps';
    padding-top: 15px;
    margin-left: 55px;
    margin-bottom: 137px;
}
.come .container .row .col-12  h1{
    font-size: 20px;
    color: #919090;
    font-family: 'BPG DejaVu Sans Caps';
    padding-right: 140px;
}
.come .container .row .col-12 .col-6 .col-3 a{
    width:100%;
    max-width: 10px;
    height: 10px;
    border-radius: 50%;
    border-style: solid;
    border-color: #707070;
    display: flex;
    margin-top: 3px;
}
.come .container .row .col-12 .col-6 .col-3  h3{
    font-size: 14px;
    color:#EB5E1C ;
}
.come .container .row .col-12 .col-6 .col-3 .people{
    display: flex;
}
.come .container .row .col-12 .col-6 .col-3 .sponsors{
    display: flex;
}
.come .container .row .col-12 .col-6 .col-3  h3{
    padding-left: 12px;
}
.come .container .row .col-12 .col-6 .col-3 {
    margin-top: 21px;
    width: 50%;
}
/* age-page */
.age-section{
    margin-top: 98px;
}
.age-section .container .row h1{
    text-align: center;
    font-size: 24px;
    color:#EB5E1C ;
}

.age-section .container .row .card-img img{
    position: relative;
}
.age-section .container .row .card-body{
    position: absolute;
    background-color:#0070CD ;
    opacity: 50%;
    top: 69%;
    height: 90px;
    max-width: 416px;
    width: 100%;
    text-align: center;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
}
.age-section .endcontainer .endrow .col-4 h1 span{
    position: absolute;
    background-color:#0070CD ;
    opacity: 50%;
    top: 69%;
    height: 90px;
    max-width: 416px;
    width: 100%;
    text-align: center;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
}
.age-section .container .end-row {
    margin-top: 57px;
}
.age-section .container .end-row .end-col{
    margin-top: 57px;
}
.age-section .container .row .card-body h1{
    font-size:26px ;
    color: #FFFFFF;
    font-family: 'BPG DejaVu Sans Caps';
}
.age-section .container .row .card-body span{
    font-size: 20px;
    color: #FFFFFF;
    font-family: 'Arial';
}
/* publication */
.publication .container h1{
    color: #0070CD;
    font-size: 36px;
}
.publication .container .row .col-3 .row{
    padding: 12px;
}
.publication .container a:hover{
    border-color: blue;
}
.publication .container .publication-hover p {
    position: absolute;
    display: block;
    width: 80%;
    height: 88px;
    background-color: #Fff;
    right: 0;
    top: 155px;
    padding: 15px 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #0070CD;
    font-size: 14px;
    font-family: 'BPGDejaVuSansCaps-Book';
    transition-duration: 0.3s;
}
.publication img {
    width: 100%;
    display: block;
    height: 358px;
    border: 4px solid #EB5E1C;
    border-radius: 8px;
    position: absolute;
    transition-duration: 0.3s;
    max-width: 269px;
}
.publication a {
    display: block;
    width: 100%;
    position: relative;
    height: 358px;
}
.publication a:hover img {
    border-color: #0070CD;
}
/* photo galery */
.photo-gallery-inner h2{
    margin-top: 210px;
    font-size: 36px;
    font-family: 'BPGDejaVuSansCaps-Book';
    color: #0070CD;
    text-align: center;
    margin-bottom: 55px;
  }
  .photo-gallery-inner a{
    width: 100%;
    height: 296px;
  }
  .photo-gallery-inner .col-lg-3:nth-of-type(4n+1) .row{
    padding-right: 45px;
    padding-left: 0;
    margin-bottom: 60px;
  }
  .photo-gallery-inner .col-lg-3:nth-of-type(4n+2) .row{
    padding-left: 15px;
    padding-right: 30px;
    margin-bottom: 60px;
  }
  .photo-gallery-inner .col-lg-3:nth-of-type(4n+3) .row{
    padding-left: 30px;
    padding-right: 15px;
    margin-bottom: 60px;
  }
  .photo-gallery-inner .col-lg-3:nth-of-type(4n) .row{
    padding-left: 45px;
    padding-right: 0;
    margin-bottom: 60px;
  }
  .photo-gallery-inner{
    margin-bottom: 60px;
  }
  .photo-gallery-inner img{
    width: 100%;
    height: 100%;
    display: block;
    max-width: 335px;
  }
  .photo-gallery-inner span{
      color: #EB5E1C;
      font-size: 16px;
      margin-top: 28px;
  }
  /* review */
  .review h2{
    margin-top: 210px;
    font-size: 36px;
    font-family: 'BPGDejaVuSansCaps-Book';
    color: #0070CD;
    text-align: center;
    margin-bottom: 55px;
  }
  .review button{
    width: 100%;
    height: 455px;
    background-color: #F8F8F8;
    display: block;
    position: relative;
    padding-top: 28px;
    margin-bottom: 60px;
    border-radius: 10px;
    transition-duration: 0.3s;
    border: 2px solid #F8F8F8;
  }
  .review img{
    height: 108px;
    display: block;
    object-fit: cover;
    margin: auto;
    max-width: 130px;
    width: 100%;
  }
  .review span{
    font-size: 14px;
    font-family: 'BPGArial';
    color: #404040;
    display: block;
    text-align: center;
    margin-top: 14px;
  }
  .review h4{
    font-size: 14px;
    font-family: 'BPGDejaVuSansCaps-Book';
    color: #EB5E1C;
    display: block;
    margin-bottom: 16px;
    transition-duration: 0.3s;
    text-align: left;
  }
  .review-text{
    display: block;
    padding: 0 34px;
    margin-top: 14px;
  }
  .review-text p{
    font-size: 12px;
    font-family: 'BPGArial';
    color: #404040;
    height: 194px;
    text-align: left;
  }
  .review-text span{
    color: #0070CD;
    font-size: 10px;
    font-family: 'BPGArial';
    display: block;
    text-align: right;
    transition-duration: 0.3s;
  }
  .review .col-lg-4:nth-of-type(3n+1) .row{
    padding-right: 60px;
  }
  .review .col-lg-4:nth-of-type(3n+2) .row{
    padding-right: 30px;
    padding-left: 30px;
  }
  .review .col-lg-4:nth-of-type(3n) .row{
    padding-left: 60px;
  }
  .review button:hover{
    border: 2px solid #EB5E1C;
  }
  .review button:hover h4{
    color: #0070CD;
  }
  .review button:hover .review-text span{
    color: #EB5E1C;
  }
  .review button:focus{
    outline: none;
    background-color: #F8F8F8;
  }